/*
  Taxi CSS
*/

/* the table */
/* rows have even and odd classes and inherits the css properties of the theme */
.ordered-taxonomy-block-display {
  width: 100%;
  #float: right;
  #margin: 1em;
}

/* the vocabulary name (first column) */
.taxonomy-block-name-display {
  vertical-align: top;
}

/* each vocabulary value(s) (second column) */
.taxonomy-block-values-display {

}
