/*
  Taxi CSS
*/

/* the table */
/* rows have even and odd classes and inherits the css properties of the theme */
.ordered-taxonomy-page-display {
  width: 80%;
  margin: 2em;
}

/* the vocabulary name (first column) */
.taxonomy-page-name-display {
  //vertical-align: top;
	text-align:center;
}

/* each vocabulary value(s) (second column) */
.taxonomy-page-values-display {
}

.taxonomy-page-header-name-display {
	text-align:center;
}

.taxonomy-page-header-values-display {
	text-align:center;
}
