/*
  Taxi CSS
*/

/* the table */
/* rows have even and odd classes and inherits the css properties of the theme */
.ordered-taxonomy-display {
  width: 20%;
  float: right;
  margin: 2em;
}

/* the vocabulary name (first column) */
.taxonomy-name-display {
  vertical-align: top;
}

/* each vocabulary value(s) (second column) */
.taxonomy-values-display {

}
